#barra {
    height: 15px;
    width: 100%;
    background-color: #323030;
}

#brand-titulo::after {
    content: "[ MaltaSGA ]"
}

#brand-titulo {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu {
    margin: 10px auto;
    border-bottom: 1px solid #D8D5D5;
}

div#box-footer {
    padding: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: relative;
}

@media screen and (max-width: 736px) {
    .img-index {
        display: none;
    }
}